body{
	    	background-image: url(../img/ceu.jpg); 	    	 
		    background-color:#1d3557;
		    font-size: 20px;
		    width: 80%;
		    margin-left: auto;
		    margin-right:auto; 
}	

div{
	    	font-size: 1em;
	    	color: #F4F3EE;
	    	border: 5px double;
	        border-color: #fff;	       
    	    border-radius: 12px; 
	        border-width: 3px 15px;
	    		   	
}


h1,h2{
	    	font-size: 2em;
		    color:#F4F3EE;
		    text-align: center;
		    text-shadow: 2px 2px 5px #01BAEF;		   
		    font-style: italic;		  
} 


p{	      
	        text-align: justify;
	        font-size: 25px; 
	        font-style:italic;
	        color:  #F4F3EE;	        
	         	         	  
}



figure{
    	    text-align: center; 
    	   
    	        	   
} 
img { 
	        width: 90%;
 }

ul li{     
	       font-size: 25px;
	       color:#F4F3EE; 

}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}