body{	    	  	 
		    background-image: url(../img/fundo.jpg);		    
		    background-color:#fff;
		    font-size: 20px;

		    
}	

.container{
	        width: 80%;
		    margin-left: auto;
		    margin-right:auto;

}


header,footer{
	        width: 100%;	                		    
		    background-color: rgba(0,0,0);
		    margin-right:auto; 
		    padding: 15px;

}



div{
	    	font-size: 1em;
	    	color: 	#B22222;
	    	
	    	
}


h1,h2{
	    	font-size: 2em;
		    color:#B22222;
		    text-align: center;		    		   
		    font-style: italic;	
		    margin-top:2%;
	        margin-bottom:2%;		  
} 


p{	      
	        text-align: center;
	        font-size: 25px; 
	        font-style:italic;
	        color: #fff;
	        margin-top:2%;
	        margin-bottom:3%;	        	         	         	  
}

.centro{
	       text-align: center;
	       color: 	#B22222;

}



figure{
    	    text-align: center; 
    	    border: 7px solid ;
	        border-color: #696969;	       
    	    border-radius: 12px;
	        border-width: 7px 7px;
    	   
    	        	   
} 
img { 
	        width: 100%;
 }

ul, ol, li{     
	       font-size: 25px;
	       color:#fff;
	       text-align: center; 

}

a:link {
  color: #000080;
  background-color: transparent;
  text-d7coration: none;
}

a:visited {
  color: #000080;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

table {
       font-family: Arial, Helvetica, sans-serif;
       border-collapse: collapse;
       width: 100%;
}
td, th {
	     border: 7px double;
	     text-align: center;
         padding: 8px;
         color: #fff
}