body{	    	  	 
		    background-image: url(../img/fundo.jpg);		    
		    background-color:#fff;
		    font-size: 20px;

		    
}	

.container{
	        width: 80%;
		    margin-left: auto;
		    margin-right:auto;

}


header,footer{
	        	                		    
		    background-color: rgba(0,0,0);
		    margin-right:auto; 
		    padding: 15px;

}



div{
	    	font-size: 1em;
	    	color: 	#B22222;
	    	
	    	
}


h1{
	       font-size: 2em;
           font-style: 'Heebo', sans-serif;
           text-align: center;
           margin-top:2%;
	       margin-bottom:2%;
	       color:#B22222;
}

h2{
          font-size: 1.5em;
          font-style: 'Heebo', sans-serif;
          text-align: center;
          margin-top:2%;
	      margin-bottom:2%;
	      color:#B22222;
}

.titulos{
	    	
		  color:#B22222;		  
		  font-weight: bolder;		    		   		    
		  margin-top:2%;
	      margin-bottom:2%;		  
} 


p{	      
	      text-align: center;
	      font-size: 1.2em; 
	      font-style: 'Source Sans Pro', sans-serif;
	      color: #fff;
	      margin-top:2%;
	      margin-bottom:2%;	        	         	         	  
}

.centro{
	      text-align: center;
	      color:#B22222;

}



figure{
    	  text-align: center;     	      	        	   
}

img { 
	      width: 70%;
	      border: 5px solid #696969;
 }

ul, ol, li{     
	      font-size: 1.2em; 
	       color:#fff;
	      text-align: center; 
}

a:link {
  color: #000080;
  background-color: transparent;
  text-d7coration: none;
}

a:visited {
  color: #000080;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

table {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
}
td, th {
	      border: 7px double;
	      text-align: center;
          padding: 8px;
          color: #fff
          
}